@model GeneralCommonSettingsModel
@{
    var pageHeading = T("PageTitle.Settings.Advanced").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        
    </div>
    <!-- End .span12 -->
</div>
