@model MessageTemplateModel
@{
    var pageHeading = T("PageTitle.MessageTemplates.Edit").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading; 
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        @Html.Partial("_AddEdit", Model)
    </div>
    <!-- End .span12 -->
</div>