@{
    var pageHeading = T("PageTitle.MessageTemplates").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
    ViewBag.HasDataTable = true;
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        <div class="box gradient">
            <div class="title">
                @Html.Partial("ActionList", new ActionListModel() { EditRouteUrl = Url.Action("edit")})                
            </div>
            <div class="content noPad">
                <table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" id="myDataTable" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Subject
                            </th>
                            <th id="masterCh" class="ch"></th>                            
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .box -->
    </div>
    <!-- End .span12 -->
</div>
@section inlineScripts {
    <script type="text/javascript">
        appEngine.util.setDataTable('myDataTable', '@Url.Action(SystemRouteNames.List)', null,
            [
                { 'sName': 'Name', 'mData': 'Name', 'bSortable': false  },
                { 'sName': 'Subject', 'mData': 'Subject', 'bSearchable': false, 'bSortable': false },
                { "sName": "Actions", "mData": "RowId", 'bSearchable': false, 'bSortable': false, sClass: "chChildren",
                    "mRender": function (dataItem) {
                        return '<input type="checkbox" name="checkbox" value="' + dataItem + '" />';
                    }
                }
            ], false, false, function (dataTable) {

            });
    </script>
}
