@{
    var pageHeading = "Clear Cache";
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading; 
}
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h4>Cache cleared</h4>
        </div>
    </div>
    <!-- End .span12 -->
</div>
