<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="4.3.1" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="FluentValidation.MVC3" version="3.4.6.0" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net40" />
  <package id="TelerikMvcExtensions" version="2012.1.214" targetFramework="net40" />
</packages>