@{
    var pageHeading = T("PageTitle.Clients").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        <div class="box gradient">
            <div class="title">
                @Html.Partial("ActionList", new ActionListModel() { AddRouteUrl = Url.Action(SystemRouteNames.Create), 
                    ChangeStatusUrl = Url.Action(SystemRouteNames.ChangeStatus)})                
            </div>
            <div class="content noPad">
                <table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" id="myDataTable" width="100%">
                    <thead>
                        <tr>
                            <th id="masterCh" class="ch"><input type="checkbox" name="checkbox" value="all" class="styled" /></th>                            
                            <th>
                                Client Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                Status
                            </th>
                            <th>Offices</th>
                            <th>
                                Last Update By
                            </th>
                            <th></th>                       
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .box -->
    </div>
    <!-- End .span12 -->
</div>
@section inlineScripts {
    <script type="text/javascript">
        var editUrl = '@Url.Action(SystemRouteNames.Edit)';
        appEngine.util.setDataTable('myDataTable', '@Url.Action(SystemRouteNames.List)', null,
            [
                { "sName": "Selection", "mData": "RowId", "bSearchable": false, "bSortable": false, sClass: "chChildren",
                    "mRender": function (dataItem) {
                        return '<input type="checkbox" name="checkbox" value="' + dataItem + '" />';
                    }
                },
                { 'sName': 'ClientName', 'mData': 'ClientName' },
                { 'sName': 'Email', 'mData': 'Email' },
                { 'sName': 'Phone', 'mData': 'Address.PhoneNumber' },
                { 'sName': 'City', 'mData': 'Address.City' },
                { 'sName': 'Country', 'mData': 'Address.CountryName' },
                { 'sName': 'PublishingStatus', 'mData': 'PublishingStatus', "bSearchable": false, "bSortable": false },
                { 'sName': 'AssociatedBranches', 'mData': 'Offices' },
                { 'sName': 'LastUpdated', 'mData': 'LastUpdated', "bSearchable": false, "bSortable": false },
                { 'sName': 'Actions', 'mData': 'RowId', 'bSearchable': false, 'bSortable': false, sWidth: '55px',
                    'mRender': function (dataItem) {
                        return '<div class="action"><a href="' + editUrl + '/' + dataItem + '" class="btn btn-mini btn-warning" ><span class="icon8 icomoon-icon-pencil-4 white"></span>Edit</a></div>';
                    }
                }
            ], true, true, function (dataTable) {
                
            });
    </script>
}
