@model EmailAccountModel
@{
    var pageHeading = T("PageTitle.EmailAccounts.Add").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading; 
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        @Html.Partial("_CreateUpdate", Model)
    </div>
    <!-- End .span12 -->
</div>