@{
    var pageHeading = T("PageTitle.EmailAccounts").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
    ViewBag.HasDataTable = true;
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        <div class="box gradient">
            <div class="title">
                @Html.Partial("ActionList", new ActionListModel() { AddRouteUrl = Url.Action("create")})                
            </div>
            <div class="content noPad">
                <table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered" id="myDataTable" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Email address
                            </th>
                            <th>
                                Email display name
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .box -->
    </div>
    <!-- End .span12 -->
</div>
@section inlineScripts {
    <script type="text/javascript">
        var editUrl = '@Url.Action(SystemRouteNames.Edit)';
        appEngine.util.setDataTable('myDataTable', '@Url.Action(SystemRouteNames.List)', null,
            [
                { 'sName': 'Email', 'mData': 'Email', 'bSortable': false },
                { 'sName': 'DisplayName', 'mData': 'DisplayName', 'bSearchable': false, 'bSortable': false },
                { 'sName': 'Actions', 'mData': 'RowId', 'bSearchable': false, 'bSortable': false, sWidth: '100px',
                    'mRender': function (dataItem, type, data) {
                        var html = '<div class="action"><a href="' + editUrl + '/' + dataItem + '" class="btn btn-mini btn-warning" ><span class="icon8 icomoon-icon-pencil-4 white"></span>Edit</a>';
                        if (!data.IsDefaultEmailAccount)
                            html += ' <a class="btn btn-mini btn-info tip mark-default" data-id="' + dataItem + '" title="Select as default email account"><span class="icon12 icomoon-icon-heart white"></span></a>';
                        html += '</div>';
                        return html;
                    }
                }
            ], false, false, function (dataTable) {
                $('.mark-default').click(function (e) {
                    e.preventDefault();
                    window.location.href = appEngine.util.addTrailingSlash(window.location.href) + '?rowId=' + $(this).attr('data-id');
                });
            });
    </script>
}
