<div class="row-fluid">
    <div class="span12">
        <div class="content center">
            <p>
                <small>© @DateTime.UtcNow.Year.ToString() Tranzfreight Logistics Solutions India Pvt. Ltd. &nbsp;</small></p>
        </div>
    </div>
</div>