@{
    var pageHeading = "Company Management";
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
}
@section SidebarWidget
{
}
<div class="row-fluid">
    <div class="span12">
        <div class="box gradient">
            <div class="title">
                @Html.Partial("ActionList", new ActionListModel() { AddRouteUrl = Url.Action(SystemRouteNames.Create) })                
            </div>
            <div class="content noPad">
                <table cellpadding="0" cellspacing="0" border="0" class="dynamicTable display table table-bordered"
                    id="myDataTable" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Company Name
                            </th>
                            <th>
                                Abbreviation
                            </th>
                            <th>Status</th>                            
                            <th>
                                Last Update By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .box -->
    </div>
    <!-- End .span12 -->
</div>
@section inlineScripts {
    <script type="text/javascript">
        appEngine.util.setDataTable('myDataTable', '@Url.Action(SystemRouteNames.List)', null,
            [
                { 'sName': 'CompanyName', 'mData': 'CompanyName', 'sWidth': '70%' },
                { 'sName': 'Abbreviation', 'mData': 'Abbreviation','bSearchable': false, 'bSortable': false },
                { 'PublishingStatus': 'PublishingStatus', 'mData': 'PublishingStatus', "bSearchable": false, "bSortable": false },
                { 'LastUpdated': 'LastUpdated', 'mData': 'LastUpdated', "bSearchable": false, "bSortable": false }
            ], false, false);
    </script>
}
